body {
    font-family: sans-serif;
    background-image: linear-gradient(rgb(34, 34, 34),rgb(0, 0, 0));
}

header {
    background-image: url(https://media.architecturaldigest.com/photos/55e79123cd709ad62e900c5d/master/w_1600%2Cc_limit/dam-images-travel-nyc-hair-salons-nyc-hair-salons-01-wonderland-beauty-parlor.jpg);
    opacity: 0.2;
}

.d {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 110px;
    color: blanchedalmond;
}

.dy {
    color: blanchedalmond;
    padding-left: 200px;
    position: absolute;
    top:110px;
    left: 200px;
}

h1 {
    color: blanchedalmond;
    top:110px;
    text-align: center;
}


img {
    width: 250px;
    border-radius: 20px;
}

.w {
    width: 130px;
    height: 165px;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: 304px;
    opacity: 0.5;
}

.w:hover{
    opacity: 1;
    border: 6px solid rgb(27, 27, 27);
    width: 135px;
    height: 170px;
    transition: 0.5s ease-out;
}

p {
    color: blanchedalmond;
}

.h {
    position: absolute;
    right: 10px;
    top: 460px;
}

.m {
    position: absolute;
    left: 30px;
    top: 460px;
}

.r{
    position: absolute;
    top: 660px;
}

.t{
    width: 130px;
    height: 165px;
    border-radius: 20px;
    position: absolute;
    top: 500px;
    opacity: 0.5;
}

.t:hover{
    opacity: 1;
    border: 6px solid rgb(27, 27, 27);
    width: 135px;
    height: 170px;
    transition: 0.5s ease-out;
}

.f:hover{
    opacity: 1;
    border: 6px solid rgb(27, 27, 27);
    width: 135px;
    height: 170px;
    transition: 0.5s ease-out;
}

.f{
    width: 130px;
    height: 165px;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: 500px;
    opacity: 0.5;
}

.p{
    position: absolute;
    top: 660px;
    right: 20px;
}

nav{

}

.knock{
    width: 130px;
    height: 165px;
    border-radius: 20px;
    position: absolute;
    top: 304px;
    opacity: 0.5;
}

.knock:hover{
    opacity: 1;
    border: 6px solid rgb(27, 27, 27);
    width: 135px;
    height: 170px;
    transition: 0.5s ease-out;
}

.never{
    position: absolute;
    right:150px;
}

.by{
    position: absolute;
    left: 150px;
    top: 530px;
}

.cant{
    position: absolute;
    left: 150px;
}

.wait{
    position: absolute;
    right: 150px;
    top: 530px;
}
a{
   color: rgb(255, 255, 255);
   text-decoration: 0;
}

a:hover{
   color: rgb(255, 209, 236);
   text-decoration: 0;
}

qw{
    top: 304px;
    width: 123px;
}
